@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 15px;
  --swiper-navigation-color: var(--swiper-theme-color);
}
